.sfondo-titolo{
    background-image: url("../img/pattern.png");
    background-color: #4EA0FF;
    height: 100px;
    position: relative;
}

#immagine-logo{
    width: 15%;
    height: auto;
    position: absolute;
    bottom: 0;
}

#titolone-articolo{
    font-size: 60px;
}

.testo-grigio{
    
    color: lightgray;
}

.colore-celeste{
    color: lightskyblue;
}

.immagine-Tim{
    
}

.articolo{
    font-size: 20px;
}

.evidenziato-giallo{
    background-color: yellow;
}

thead{
    background-color: aqua;
    color: white;
}

.azzurrino{
    background-color: #4EA0FF;
}