.sfondo-titolo{
    background-image: url("../img/pattern.png");
    background-color: #4EA0FF;
    height: 180px;
    position: relative;
}

#immagine-logo{
    width: 25%;
    height: auto;
    position: absolute;
    bottom: 0;
}
